.form {
  max-width: 385px;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
}

.form__fieldset {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__input {
  border-radius: 4px;
  box-sizing: border-box;
  height: 60px;
  margin-bottom: 32px;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border: 2px solid #838383;
  padding-left: 5px;
  padding-right: 5px;
}

.form__input::placeholder {
  color: #838383;
}
.form__input::-moz-placeholder {
  color: #838383;
}
.form__input::-ms-input-placerholder {
  color: #838383;
}
.form__input::-webkit-input-placeholder {
  color: #838383;
}
.form__button {
  border-radius: 4px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 2s;

  width: 100%;

  height: 60px;
  margin-bottom: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
  align-items: center;
  border: none;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.form__checkbox:checked {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  appearance: none;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
